.features-box{
    background-color: rgba($color-gray-ligth-1, .8);
    height: 25rem;
    width: 24rem;
    padding: .5rem;
    border-radius: 5px;
    transition: all .3s;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);

    .features-box--icon{
        font-size: 5rem;
        color: $color-primary;
    }

    &:hover{
        transform: scale(1.05) translateY(-2rem);
    }
}