body{
    padding: 3rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7;
}

.heading-text--primary{
    display: block;
    letter-spacing: 2.5rem;
    font-size: 4rem;
    animation: moveright 1s;
}

.heading-text--sub{
    display: block;
    font-size: 1.7rem;
    letter-spacing: 1rem;
    animation: moveleft 1s;
}

.heading-secondry{
        font-size: 3.5rem;
        text-transform: uppercase;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        transition: all .2s;
        letter-spacing: .2rem;

        &:hover{
            transform: skewY(2deg) skewX(20deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }
}

.heading-tertiary{
    font-size: 1.6rem;
}